/**  
 * ClearWhite.java
 *
 * Copyright (c) 2016 José Volpato  
 *  
 * This file is part of Gametracker.  
 *  
 * Gametracker is free software: you can redistribute it and/or modify  
 * it under the terms of the GNU General Public License as published by  
 * the Free Software Foundation, either version 3 of the License, or  
 * (at your option) any later version.  
 *  
 * Gametracker is distributed in the hope that it will be useful,  
 * but WITHOUT ANY WARRANTY; without even the implied warranty of  
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the  
 * GNU General Public License for more details.  
 *  
 * You should have received a copy of the GNU General Public License  
 * along with Clong.  If not, see <http://www.gnu.org/licenses/>.  
 */

.label
{
    
}

.grid-pane
{
    -fx-background-color: #007788;
}
/*
.text-field
{
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-insets: 0px;
    -fx-border-color: #000000;
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
    -fx-background-color: #eeeeee;
}

.text-field:focused
{
    -fx-border-color: #666666;
}
*/

.combo-box
{
    
}

.combo-box .list-cell:selected
{
    
}

.button
{
    -fx-background-radius: 0px;
}

#imgLogo
{
    -fx-image: url('/gametracker/resources/logo_app.png');
}

.appTopBar
{
    -fx-border-color: #fdfdfd;
    -fx-border-width: 0px 0px 3px 0px;
}

#btnConfigurationView
{
    -fx-background-color: rgba(0,0,0,0);
    -fx-graphic: url('/gametracker/resources/icon_options.png');
}

#btnHelpView
{
    -fx-background-color: rgba(0,0,0,0);
    -fx-graphic: url('/gametracker/resources/icon_help.png');
}

.masterView
{
    
}

.flat-button, .dashboard-button, .pill-button
{
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.pill-button
{
    
}

.dashboard-button
{
    -fx-alignment: BOTTOM_CENTER;
    -fx-content-display: TOP;
    -fx-graphic-text-gap: 20px;
}

.dashboard-button .text
{
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.dashboard-button:focused
{
    -fx-border-color: #ffffff;
    -fx-border-width: 4px;
}

/* User dashboard */

#btnUserAddEntry
{
    -fx-background-color: #9b00b7;
    /*-fx-graphic: url('/gametracker/resources/UserAddEntry.png');*/
}

#btnUserAddEntry:hover
{
    -fx-background-color: #feaa23;
}

#btnUserFindEntry
{
    -fx-background-color: #aaaaaa;
    /*-fx-graphic: url('/gametracker/resources/UserFindEntry.png');*/
}

#btnUserFindEntry:hover
{
    -fx-background-color: #feaa23;
}

#btnUserTodoList
{
    -fx-background-color: #fe3322;
    /*-fx-graphic: url('/gametracker/resources/UserTodoList.png');*/
}

#btnUserTodoList:hover
{
    -fx-background-color: #feaa23;
}

#btnUserGraphs
{
    -fx-background-color: #feaa23;
    /*-fx-graphic: url('/gametracker/resources/UserGraphs.png');*/
}

#btnUserGraphs:hover
{
    -fx-background-color: #feaa23;
}